<section class="listings">
    <div class="container gallery-container">
        <h1>The Hotel, Reception & Surroundings</h1>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_3792_3Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_3792_3Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1567_8Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1567_8Enhancer01PM.jpg" alt="Another alt text">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1569_70Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1569_70Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1571_2Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1571_2Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>


            </div>
            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                            </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                            </button>

                            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container gallery-container">
        <h1>Rooms</h1>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1506_7_8Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1506_7_8Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1561_2Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1561_2Enhancer01PM.jpg" alt="Another alt text">
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1512_3Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1512_3Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-image="/assets/img/MG_1516_7Enhancer01PM.jpg" data-target="#image-gallery">
                            <img class="img-thumbnail" src="/assets/img/MG_1516_7Enhancer01PM.jpg" alt="Another alt text">
                        </a>

                    </div>
                </div>


            </div>
            <div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="image-gallery-title"></h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
                                                </button>
                        </div>
                        <div class="modal-body">
                            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary float-left" id="show-previous-image"><i class="fa fa-arrow-left"></i>
                                                </button>

                            <button type="button" id="show-next-image" class="btn btn-secondary float-right"><i class="fa fa-arrow-right"></i>
                                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>