<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/img/bed-bedroom-blanket-1743231.jpg" class="d-block w-100" alt="...">
                <!-- <img src="/assets/img/architecture-beach-building-258154.jpg" class="d-block w-100" alt="..."> -->
                <div class="carousel-caption  d-md-block">
                    <h1>Convenience and Comfort</h1>
                    <p class="lead">EXCEPTIONAL HOSPITALITY AND HIGH STANDARD OF SERVICE</p>
                    <!-- <a class="btn btn-success btn-rounded" href="#search">CHOOSE YOUR ROOM NOW</a> -->
                    <button type="button" class="btn btn-success btn-rounded" (click)="onClick()">CHOOSE YOUR ROOM NOW</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="search-sec" id="search">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <label>Check in</label>
                            <input type="date" class="form-control search-slt" placeholder="Check - In">

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <label>Check out</label>
                            <input type="date" class="form-control search-slt" placeholder="Check - out">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <label>Adults</label>
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <label>Children</label>
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0 button-check">
                            <button type="button" class="btn btn-success wrn-btn">Check  Availability</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> -->

<section class="section-1">
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <h2>Just passing through or staying for a while? Find convenience and comfort here.</h2>
            <p>All 243 rooms at the Luxury Hotel include:</p>
            <p>Air conditioning<br> WiFi
                <br> TV and satellite channels<br> A workdesk/dressing table<br> Direct dial telephones<br> Tea and coffee facilities<br> En-suite bathrooms<br> Room service</p>
            <p>Stay over, and discover why we’re a favourite choice for hotel accommodation in Pretoria.</p>

        </div>

    </div>
</section>


<div class="container rooms">
    <div class="row no-padding">
        <div class="col-sm-4">
            <div class="portfolio">
                <img src="/assets/img/room-accommodation01.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <img src="/assets/img/room-accommodation02.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="portfolio">
                <img src="/assets/img/room-accommodation03.jpg" alt="">
            </div>
        </div>
    </div>
</div>